/* Set up the primary and secondary colors for the website */
:root {
    --primary-color: #006DDA;
    --neutral-color-1: #f6f8ff;
    --neutral-color-2: #50514f;
}

/* Set up the global styles */
body {
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--neutral-color-2);
    margin: 0;
    padding: 0;
}

/* Set up the header */
.custom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--neutral-color-1);
    padding: 1em;
}

header h1 {
    margin: 0;
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin: 0 1em;
}

header nav li a {
    color: #fff;
    text-decoration: none;
}

header nav li a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Set up the main content */
main {
    padding: 2em;
}

.option {
    margin: 4px 0 0 40px !important;
    line-height: normal;
}

#submit-btn{
    margin: 30px 0 0 40px ;
}

#quiz-form{
    text-align: center;
}

#recommendations{
    text-align: center;
}

#recommendations h2{
    color: var(--primary-color);
}
